html, body {
    font-family: 'Sen', sans-serif;
}

/* body{
  background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../baseball.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
} */

*{
  margin: 0;
  padding: 0;
}

.banner{
  background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url(../baseball.jpeg);
  background-position: center -400px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #464646;
  width: auto;
  height: 300px;
}

.container{
  /* padding-top: 400px; */
}

option{
  align-items: start;
}

/* .box{
  width: 200px;
  align-items: start;
} */

input.home, input.away{
  width: 20px;
  height: 20px;
}

h2{
  font-size: 15pt;
}



.d-flex {
  margin-top: 25px;
}

.top h2{
  margin-top: 50px;
  font-size: 30pt;
  text-align: center;
}

.content{
  width: 100%;
  position: absolute;
  text-align: center;
}

.content h1 {
  font-size: 90px;
  margin: 100px 0px;
  font-family: 'Amatic SC', cursive;
  color: #fff;
}

/* .col-3{
  border-style: solid;
  width: 300px;
  margin: 10px;
} */

.content p{
  margin-top: 100px;
  font-weight:  500;
  font-size: 20px;
  line-height: 25px;
}

.info{
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

label{
    font-size: 12px;
}

ul{
  list-style-position: inside;
  line-height: 30px;
}

.row{
  padding-top: 30px;
}

.footer{
  padding-bottom: 500px;
}
